{% extends 'registrationBase.html' %}
{% block title %}
  Login
{% endblock title %}
{% load static %}
		{% block form %}
		<section class="login-wrapper">
			<div class="container">
				<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
					<form method="POST">
                        {% csrf_token %}
						<img class="img-responsive" alt="logo" src="{% static 'img/logo.png' %}">						
                        {{form.as_p}}
						<button type="submit" class="btn btn-primary">Login</button>
						<p>Have't Any Account <a href="{% url 'signup'%}">Create An Account</a></p>
					</form>
				</div>
			</div>
		</section>
		{% endblock form %}