{% extends 'poster/base.html' %}
{% block content %}
<section class="jobs">
    <div class="container">
        <div class="col-md-4 col-sm-8 col-md-offset-4 col-sm-offset-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if photoState %}
                    <img src='{{photo.url}}' alt="" class="img-responsive">
                {% endif %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}